<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="me.fs"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:config/${env.dir}/datasource.properties</value>
            </array>
        </property>
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json; charset=UTF-8</value>
                        <value>application/x-www-form-urlencoded; charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 静态资源映射 -->
    <!-- 被spring拦截的静态资源应作映射处理，否则报404错误 -->
    <mvc:resources mapping="/login.html" location="/login.html"/>

    <!-- spring跨域请求支持 -->
    <mvc:cors>
        <!-- * 表示匹配到下一层； ** 表示后面不管有多少层，都能匹配 -->
        <mvc:mapping path="/**"/>
    </mvc:cors>

    <import resource="classpath:context/security-context.xml"/>
    <import resource="classpath:context/datasource-context.xml"/>
</beans>